
</section>

<hr class="hr-large">

</div>

<footer id="footer">
  <div class="footer-wrap">
    <div class="footer">
      <ul class="list-decoration bottom-list-decoration">
        <li>
          <a class="bottom-link-decoration link-decoration" href="https://www.instagram.com/juliana_priroda/">Instagram</a>
        </li>
        <li>
          <a class="bottom-link-decoration link-decoration" href="https://vk.com/izuminka8888">VK</a>
        </li>
        <li>
          <a class="bottom-link-decoration link-decoration" href="mailto:juliana_priroda@mail.ru">Почта</a>
        </li>
      </ul>
      <div class="author">
        сайт сделан @raylafarge
      </div>
    </div>
  </div>
</footer>

<script src="https://code.jquery.com/jquery-3.6.0.js" integrity="sha256-H+K7U5CnXl1h5ywQfKtSj8PCmoN9aaq30gDh27Xc0jk="
  crossorigin="anonymous"></script>
<script src="/js/jquery.for-event.js"></script>
<script src="/js/jquery.maskedinput.min.js"></script>
<script>

</script>
</body>



</html>