<!doctype html>
<html lang="ru">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width,initial-scale=1">
  <title>Услада тела</title>
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0/dist/css/bootstrap.min.css" rel="stylesheet"
    integrity="sha384-wEmeIV1mKuiNpC+IOBjI7aAzPcEZeedi5yW5f2yOq55WWLwNGmvvx4Um1vskeMj0" crossorigin="anonymous">
  <link rel="stylesheet" href="/css/styles.css">
  <link rel="preconnect" href="https://fonts.gstatic.com">
  <link
    href="https://fonts.googleapis.com/css2?family=Comfortaa:wght@300;400;500;600;700&family=El+Messiri:wght@400;500;600;700&family=Montserrat+Alternates:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Raleway&family=Neucha&family=Open+Sans+Condensed:ital,wght@0,300;0,700;1,300&family=Reggae+One&family=Alice&family=Ruslan+Display&display=swap"
    rel="stylesheet">
</head>

<body>
  <header class="header">
    <div class="navigation">
      <div class="navigation-menu">
        <div class="navigation-menu__burger">
          <span class="navigation-menu__line"></span>
        </div>
        <nav>
          <ul class="navigation-list list-decoration">
            <li>
              <a class="link-decoration" href="#currently-programme">Текущее событие</a>
            </li>
            <li>
              <a class="link-decoration" href="#detox">Йога-баня</a>
            </li>
            <li>
              <a class="link-decoration" href="#game">Трансформационная игра</a>
            </li>
            <li>
              <a class="link-decoration" href="#footer">Запись/контакты</a>
            </li>
          </ul>
        </nav>
      </div>
    </div>
  </header>

  <div class="content">
    <section id="currently-programme">
      <div class="currently-programme-top">
        <div class="currently-programme-top-heading">
          <h1>Проект Услада тела</h1>
        </div>
        <div class="currently-programme-top-main">
          <div class="currently-programme-top-main-human">
            <img class="body-graph" src="images/body.svg" alt="Контур тела">
          </div>
          <div class="currently-programme-top-main-description">
            <ul class="currently-programme-top-main-description-list list-decoration">
              <li class="currently-programme-top-main-description-list-item"><b>Мероприятие</b>: Детокс йога-баня -
                телесная практика</li>
              <li class="currently-programme-top-main-description-list-item"><b>Дата</b>: 22 мая / Суббота</li>
              <li class="currently-programme-top-main-description-list-item"><b>Время</b>: c 12:00 до 20:00</li>
              <li class="currently-programme-top-main-description-list-item"><b>Место встречи</b>: Петровский
                оздоровительный центр<p>м. Озерки, Никольская 13</p>
              </li>
              <li class="currently-programme-top-main-description-list-item"><b>Номер телефона организатора</b>: +7
                (952) 397-34-13
              </li>
              <li class="currently-programme-top-main-description-list-item"><b>Стоимость участия</b>
                <ul>
                  <li class="list-decoration"><i>4500 р</i> - по предоплате</li>
                  <li class="list-decoration"><i>4000 р</i> - если приходите парой (на человека)</li>
                  <li class="list-decoration"><i>5500 р</i> - в день мероприятия</li>
                </ul>
              </li>
              <li class="currently-programme-top-main-description-list-item list-button-wrap"><button
                  onclick="document.location.href='#record'" class="button" id="button-jump">Записаться на
                  мероприятие</button></li>
            </ul>
          </div>
        </div>
      </div>
    </section>

    <hr class="hr-large">

    <section>
      <div class="programme-content">
        <div id="detox" class="detox">
          <h2 class="h2-heading">Детокс йога-баня</h2>
          <div class="detox-main">
            <div class="detox-main-description">
              <p> Приглашаем тебя испытать на себе силу тотального расслабления в бане после мощной программы телесных
                практик.
                Где тебе предстоит снять мышечные и ментальные блоки. Погрузиться в атмосферу отдыха и расслабления.
                Открой новые грани возможностей своего тела!</p>
              <hr class="hr-small">
              <h3>Телесные практики</h3>
              <ul>
                <li>
                  Хатха-йога
                </li>
                <li>
                  Практика на доверии
                </li>
                <li>
                  Лежание на гвоздях под звуки гонга и поющих чаш
                </li>
              </ul>
              <hr class="hr-small">
              <h3>Баня</h3>
              <ul>
                <li>
                  Ритуал первого пара
                </li>
                <li>
                  Магия ароматерапии
                </li>
                <li>
                  Оздоровительное купание в озере
                </li>
                <li>
                  Вкусный чай
                </li>
              </ul>
              <p class="best-wishes">Ждём тебя в душевном месте на самом берегу озера!</p>
            </div>


            <div class="detox-main-svg">
              <img class="leaves-graph" src="images/leaves-left.svg" alt="Контур листьев">
              <img class="leaves-graph" src="images/leaves-right.svg" alt="Контур листьев">
            </div>
          </div>

          <div class="detox-bottom">
            <h3>Курировать практику будут:</h3>
            <div class="detox-bottom-description">
              <div class="detox-bottom-description-mentor">
                <div class="detox-bottom-description-mentor-avatar">
                  <img src="images/ulya.png" width="180px" height="180px" alt="">
                </div>
                <h3>Юлиана Хоботникова</h3>
                <ul>
                  <li class="detox__item">
                    организатор и пармастерица
                  </li>
                </ul>
              </div>
              <div class="detox-bottom-description-mentor">
                <div class="detox-bottom-description-mentor-avatar">
                  <img class="avatar-size" src="images/tanya.png" alt="" width="180px" height="180px">
                </div>
                <h3>Татьяна Антонова</h3>
                <ul>
                  <li class="detox__item">сертифицированный инструктор Хатха-йоги</li>
                </ul>
              </div>
              <div class="detox-bottom-description-mentor">
                <div class="detox-bottom-description-mentor-avatar">
                  <img class="avatar-size" src="images/oksana.png" width="180px" height="180px" alt="">
                </div>
                <h3>Оксана Фоничева</h3>
                <ul>
                  <li class="detox__item"> сертифицированный мастер акустических
                    практик с поющими чашами и гонгами</li>
                  <li class="detox__item"> мастер
                    виброакустических массажей поющими
                    чашами</li>
                  <li class="detox__item"> практикующий Мастер-целитель Рейки</li>
                </ul>
              </div>
              <div class="detox-bottom-description-mentor">
                <div class="detox-bottom-description-mentor-avatar">
                  <img class="avatar-size" src="images/elena.png" width="180px" height="180px" alt="">
                </div>
                <h3>Елена <br>Симонова</h3>
                <ul>
                  <li class="detox__item"> психолог-консультант</li>
                  <li class="detox__item"> сертифицированный специалист по работе с метафорическими картами</li>
                  <li class="detox__item"> аромастилист, аромадиагност, специалист по эфирным маслам</li>
                </ul>
              </div>
              <div class="detox-bottom-description-mentor">
                <div class="detox-bottom-description-mentor-avatar">
                  <img class="avatar-size" src="images/danya.png" alt="" width="180px" height="180px" srcset="">
                </div>
                <h3>Данил Мушинский</h3>
                <ul>
                  <li class="detox__item"> инструктор с 8-летним опытом проведения групповых практик с гвоздями, битым стеклом, ножами,
                    горящими углями, стрелами</li>
                </ul>
              </div>
            </div>
          </div>

        </div>

        <hr class="hr-medium">

        <div id="game" class="transformation-game">
          <div class="transformation-game-description">
            <h2 class="h2-heading"> Трансформационная игра (эзотерическая /
              психологическая)</h2>
            <p>
              Категория групповых и индивидуальных настольных игр, ориентированных на работу с личными запросами
              участников. Игра направлены на нахождение оптимальных решений, преодоление личностных кризисов, сложных
              ситуаций, а также на достижения персональных целей.
              Результат достигается через более глубокую проработку и осознания участниками причин своей текущей
              ситуации. Здесь же мотивов и сценариев своего поведения, личных психологических установок и убеждений, а
              также их корректировок.
            </p>
            <hr class="hr-small">
            <p>В процессе самой игры участник знакомится с тем собой, которого чаще всего не замечал. С теми своими
              гранями и уникальными способностями, которые дарованы от рождения, но так в полной мере и не
              использованных. В игре происходит это погружение в себя настоящего и как бы “распаковка” спящих внутренних
              ресурсов.
            </p>
            <hr class="hr-small">
            <p>
              Каждый получит ровно то, зачем он пришел на игру. Унесет ровно столько, сколько сможет взять. Это не
              тренинг и не тренировка навыков. Мастер обычно только показывает направление, а идти или нет — решать
              только вам.
            </p>
          </div>
          <div class="transformation-game-cube">
            <img class="cube-graph" src="images/cube.svg" alt="">
          </div>
        </div>
      </div>
    </section>

    <hr class="hr-large">

    <section>